.App {
  padding: 0% 5% 5% 5%;
}

#game-board {
  margin-left: 20rem;
  background-color: seashell;
  width: 300px;
  height: 300px;
}

.grid-cell {
  background-color: lightblue;
  border: 1px solid black;
  box-sizing: border-box;
}

.ship-area {
  display: flex;
  justify-content: space-around;
  margin-left: 2rem;
  margin-top: 2rem;
  padding: 5%;
  border: 1px solid black;
  width: 40%;
}

.ship2 {
  height: 30px;
}