#game-board {
  margin-left: 20rem;
  background-color: seashell;
  width: 300px;
  height: 300px;
}

.grid-cell {
  background-color: lightblue;
  border: 1px solid black;
  box-sizing: border-box;
}