#game-board {
  margin-left: 20rem;
  background-color: lightblue;
  width: 20rem;
  height: 20rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 10px);
  grid-template-rows: repeat(10, 10px);
}

.grid-cell {
  background-color: yellow;
  border: 1px solid black;
  box-sizing: border-box;
}